.teemonav,
.teemonav li {
  position: relative;
  line-height: normal;
}
.teemonav {
  z-index: 9900;
}
.teemonav a {
  color: #777;
}
.teemonav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.teemonav li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.teemonav li a {
  padding: 7px 15px;
  display: block;
  text-decoration: none;
  color: #777;
  font-size: inherit;
  font-family: inherit;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.teemonav > ul > li {
  display: inline-block;
}

.teemonav ul ul {
  top: auto;
  width: 150px;
  position: absolute;
  z-index: 9900;
  text-align: left;
  display: none;
  background: #ddd;
}
.teemonav.light,
.teemonav.light ul ul {
  background: rgba(255, 255, 255, 1);
}
.teemonav li li {
  display: block;
}
.teemonav ul ul ul {
  top: 0;
  left: 220px;
}
.teemonav > ul > li:hover > ul > li:hover > ul {
  opacity: 1;
  visibility: visible;
  top: 0;
}
.teemonav > ul > li.drop-left > ul {
  right: 0;
}
.teemonav li.drop-left ul ul {
  left: auto;
  right: 220px;
}

.teemonav.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}
body.teemonav-noscroll-x {
  overflow-x: hidden;
}
.teemonav li.has-sub > a:after {
  content: "\f107";
  margin-left: 5px;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  position: relative;
  top: 1px;
}
.teemonav .dd-toggle,
.teemonav li.call-btn-mobile,
.teemonav li.location-btn-mobile,
.teemonav.hide-arrows li li.has-sub > a:after,
.teemonav.hide-arrows li.drop-left li.has-sub > a:after,
.teemonav.hide-arrows li.has-sub > a:after {
  display: none;
}
.teemonav li li.has-sub > a:after {
  margin-left: 10px;
  float: right;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #fff;
  position: relative;
  top: -2px;
}
.teemonav li.drop-left li.has-sub > a:after {
  float: left;
  margin-right: 10px;
  border-left: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #fff;
}
.teemonav .call-btn-mobile,
.teemonav .close-menu,
.teemonav .location-btn-mobile,
.teemonav .menu-toggle {
  display: none;
  text-transform: uppercase;
  text-decoration: none;
}
.teemonav .dd-toggle {
  position: absolute;
  top: 8px;
  right: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  z-index: 9999;
  border: 0;
}

.teemonav.desktop.hide-arrows li.has-sub a {
  padding-right: 15px;
}
.teemonav.mobile > ul > li > a.dd-toggle {
  padding: 0;
}
.teemonav.mobile a {
  // padding: 0;
  color: #ccc;
}
.teemonav svg {
  fill: #ccc;
  width: 1em;
  height: 1em;
  position: relative;
  top: 2px;
}
.teemonav a.dd-toggle .icon-plus {
  box-sizing: border-box;
  transition: transform 0.3s;
  width: 12px;
  height: 100%;
  position: relative;
  vertical-align: middle;
  display: inline-block;
}
.teemonav a.dd-toggle .icon-plus:after,
.teemonav a.dd-toggle .icon-plus:before {
  content: "";
  display: block;
  height: 0;
  top: 50%;
  border-bottom: solid 3px #777;
  position: absolute;
  width: 12px;
}
.teemonav a.dd-toggle .icon-plus:before {
  transform: rotate(90deg);
  transition: width 0.3s;
}
.teemonav li.open > a.dd-toggle .icon-plus {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.teemonav.light a.dd-toggle .icon-plus:after,
.teemonav.light a.dd-toggle .icon-plus:before {
  border-color: #000;
}
.teemonav.dark a.dd-toggle .icon-plus:after,
.teemonav.dark a.dd-toggle .icon-plus:before {
  border-color: #fff;
}
.teemonav .icon-close {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  position: relative;
  display: inline-block;
}
.teemonav .icon-close:after,
.teemonav .icon-close:before {
  content: "";
  display: block;
  width: 12px;
  height: 0;
  top: 50%;
  border-bottom: solid 3px #ccc;
  position: absolute;
}
.teemonav .icon-close:before {
  transform: rotate(45deg);
}
.teemonav .icon-close:after {
  transform: rotate(-45deg);
}
.teemonav.light .icon-close:after,
.teemonav.light .icon-close:before {
  border-color: #000;
}
.teemonav.dark .icon-close:after,
.teemonav.dark .icon-close:before {
  border-color: #ccc;
}
.teemonav .call-btn-mobile,
.teemonav .close-menu,
.teemonav .location-btn-mobile,
.teemonav .menu-toggle {
  /* padding: 15px; */
  box-sizing: border-box;
}
.teemonav .menu-toggle span.bars {
  display: inline-block;
  position: relative;
  top: 3px;
}
.teemonav .menu-toggle span.bars span {
  display: block;
  width: 15px;
  height: 2px;
  border-radius: 6px;
  background: #777;
  margin: 0 0 3px;
}
.teemonav .full {
  width: 100%;
}
.teemonav .half {
  width: 50%;
}
.teemonav .third {
  width: 33%;
  text-align: center;
}
.teemonav .location-btn-mobile.third {
  text-align: center;
}
.teemonav .location-btn-mobile.half {
  text-align: right;
}
.teemonav.light .half,
.teemonav.light .third {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
.teemonav.light.left .half,
.teemonav.light.left .third,
.teemonav.light.right .half,
.teemonav.light.right .third {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.teemonav.light .half:first-child,
.teemonav.light .third:first-child {
  border-left: 0;
}
.teemonav.dark .half,
.teemonav.dark .third {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
.teemonav.dark.left .half,
.teemonav.dark.left .third,
.teemonav.dark.right .half,
.teemonav.dark.right .third {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.teemonav.dark.left .menu-toggle,
.teemonav.dark.right .menu-toggle,
.teemonav.light.left .menu-toggle,
.teemonav.light.right .menu-toggle {
  border-bottom: 0;
}
.teemonav.dark .half:first-child,
.teemonav.dark .third:first-child {
  border-left: 0;
}
.teemonav.light .menu-toggle span.bars span {
  background: #ccc;
}
.teemonav.dark .menu-toggle span.bars span {
  background: #777;
}
.teemonav.mobile,
.teemonav.mobile.fixed {
  position: static;
}
.teemonav.mobile ul {
  position: relative;
  display: none;
  text-align: left;
  background: rgba(221, 221, 221, 1);
}
.teemonav.mobile.active > ul,
.teemonav.mobile > ul > li {
  display: block;
}
.teemonav.mobile.active {
  padding-bottom: 0;
}
.teemonav.mobile > ul > li > a {
  padding: 7px 15px;
}
.teemonav.mobile ul ul {
  position: relative;
  opacity: 1;
  visibility: visible;
  width: auto;
  display: none;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}
.teemonav.mobile ul ul ul {
  left: auto;
  top: auto;
}
.teemonav.mobile li.drop-left ul ul {
  right: auto;
}
.teemonav.mobile li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.teemonav.mobile > ul {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.teemonav.mobile.light li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.teemonav.mobile.light > ul {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.teemonav.mobile li a.dd-toggle,
.teemonav.mobile.light li a.dd-toggle {
  border: 0;
}
.teemonav.mobile .call-btn-mobile,
.teemonav.mobile .close-menu,
.teemonav.mobile .dd-toggle,
.teemonav.mobile .location-btn-mobile,
.teemonav.mobile .menu-toggle {
  display: inline-block;
}
.teemonav.mobile li.call-btn-mobile {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
.teemonav.mobile li.call-btn-mobile,
.teemonav.mobile li.location-btn-mobile {
  display: inline-block;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
}
.teemonav.mobile li.call-btn-mobile.full,
.teemonav.mobile li.location-btn-mobile.full {
  display: block;
  width: 100%;
  text-transform: uppercase;
  border-right: 0;
  text-align: left;
}
.teemonav.mobile.light ul {
  background: rgba(255, 255, 255, 0.5);
}
.teemonav.mobile.dark ul {
  background: rgba(0, 0, 0, 1);
}
.teemonav.mobile.dark ul ul {
  background: rgba(255, 255, 255, 0.08);
}
.teemonav.mobile.light li.call-btn-mobile {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.teemonav.mobile.top {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}
.teemonav.mobile li li.has-sub > a:after,
.teemonav.mobile li.drop-left li.has-sub > a:after,
.teemonav.mobile li.has-sub > a:after {
  display: none;
}
.teemonav.mobile.left > ul,
.teemonav.mobile.right > ul {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 280px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.teemonav.mobile.right > ul {
  right: 0;
}
.teemonav.mobile.left .close-menu,
.teemonav.mobile.right .close-menu {
  display: inline-block;
  text-align: right;
}
.teemonav.mobile.left > ul {
  left: 0;
}
.teemonav.mobile.left .call-btn-mobile.half,
.teemonav.mobile.left .call-btn-mobile.third,
.teemonav.mobile.left .close-menu.half,
.teemonav.mobile.left .close-menu.third,
.teemonav.mobile.left .location-btn-mobile.half,
.teemonav.mobile.left .location-btn-mobile.third,
.teemonav.mobile.right .call-btn-mobile.half,
.teemonav.mobile.right .call-btn-mobile.third,
.teemonav.mobile.right .close-menu.half,
.teemonav.mobile.right .close-menu.third,
.teemonav.mobile.right .location-btn-mobile.half,
.teemonav.mobile.right .location-btn-mobile.third {
  text-align: center;
}
.teemonav.mobile.left .menu-toggle.half,
.teemonav.mobile.left .menu-toggle.third,
.teemonav.mobile.right .menu-toggle.half,
.teemonav.mobile.right .menu-toggle.third {
  text-align: left;
}
.teemonav.mobile.left .close-menu.third span,
.teemonav.mobile.right .close-menu.third span {
  // display: none;
}
.teemonav.desktop li.mega ul ul {
  background: 0 0;
  width: auto;
}
.teemonav.desktop li.mega li {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
}
.teemonav.desktop li.mega li li {
  display: block;
  position: relative;
  left: 4px;
}
.teemonav.desktop > ul > li.mega {
  position: inherit;
}
.teemonav.desktop > ul > li.mega > ul {
  width: 100%;
}
.teemonav.desktop > ul > li.mega > ul li.has-sub ul {
  display: block;
  position: relative;
  left: auto;
}
.teemonav.desktop > ul > li.mega > ul > li {
  padding-bottom: 15px;
  box-sizing: border-box;
}
.teemonav.desktop li.mega li li a {
  padding: 5px 15px;
}
.teemonav.desktop li.mega li.has-sub a:after {
  display: none;
}
.teemonav.desktop > ul > li.mega > ul > li > a {
  color: #ff0;
}
@media only screen and (max-width: 768px) {
  .teemonav {
    overflow: hidden;
    display: block;
  }
  .teemonav ul {
    position: relative;
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  .teemonav.mobile .call-btn-mobile.third span,
  .teemonav.mobile .location-btn-mobile.third span {
    display: none;
  }
}

.a-top {
  padding: 5px 0px;
}
