@import '../porn/components/media';


header {
    > .row {
        .logo{

           @include response-sm() {
               order: 2;
           }
           @include response-md() {
            order: 1;
        }
        }
        .navbar{
            
            @include response-sm() {
                order: 1;
            }
            @include response-md() {
                order: 2;
            }
        }
    }
}