*,*::after,*::before{margin:0;padding:0;box-sizing:border-box;}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700');

$bgColor:#1e272e;
$iconColor:#f05451;
$colorLetra:#182C61;
$montserrat:'Montserrat', sans-serif;
$tablet:768px;
$desktop:960px;
$twitter:#1da1f2;
$instagram:#c32aa3;
$github:#282D32;
$codepen:#14171a;

@mixin responsive($media){
	
	@if $media == $tablet{
		@media screen and (min-width:#{$tablet}) and (max-width:#{$desktop}){
			@content;
		}
	}@else if $media == $desktop{
		@media screen and (min-width:#{$desktop}){
			@content;
		}
	}

	
}

body{
	background:$bgColor;
	font-family:$montserrat;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.author{
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	margin-top:30px;
	span{
		display:block;
		text-transform:none;
	}
	
	.sociales{
		list-style:none;
		display:flex;
		justify-content:center;
		margin-top:20px;
		li{
			margin:5px;
			a{
				display:flex;
				justify-content:center;
				align-items:center;
				width:30px;
				height:30px;
				text-decoration:none;
				color:#fff;
				background:red;
				border-radius:50%;
				box-shadow:0 0 4px rgba(#fff,.5);
				&.twitter{background: $twitter;}
				&.instagram{background: $instagram;}
				&.github{background: $github;}
				&.codepen{background: $codepen;}
			}
		}
	}
}


.tabs{
	width:90%;
	margin-top:50px;
	@include responsive($tablet){
		display:grid;
		grid-template-columns:60px 1fr;
	}
	
	@include responsive($desktop){
		width:800px;
	}
	
	&__head{
		width:100%;
		background:rgba(#fff,.94);
		display:flex;
		align-items:center;
		list-style:none;
		overflow-x:auto;
		@include responsive($tablet){
			flex-direction:column;
			overflow:hidden;
		}
		
		@include responsive($desktop){
			background:none;
		}
		
		li{
			a{
				display:flex;
				flex-direction:column;
				justify-content:center;
				text-align:center;
				width:60px;
				height:50px;
				text-decoration:none;
				font-size:.70em;
				font-weight:600;
				color:rgba(#000,.3);
				transition:.4s all;
				position:relative;
					@include responsive($tablet){
						height:70px;
					}
				
					@include responsive($desktop){
						background:rgba(#fff,.94);
						flex-direction:row;
						align-items:center;
						width:100px;
					}

					&:hover{
						background:rgba(#fff,.90);
						color:#000;
						span{
							color:rgba(#000,.3);
						}
				}
				
			
				
				
				&.active-link{
					box-shadow:0 2px $iconColor inset;
					color:#000;
					background:#fff;
					z-index:10;
					span{
						color:$iconColor;
					}
					@include responsive($tablet){
						box-shadow:2px 0 $iconColor inset;
					}
				}
				
				span{
					margin-bottom:2px;
					font-size:1.2em;
					pointer-events:none;
					@include responsive($desktop){
						position:relative;
						left:-5px;
					}
				}
			}
		}
	}
	
	&__content{
			position:relative;
			transition:transform .4s ;
			height:300px;
			overflow:hidden;
			box-shadow: 0 0 6px rgba(#000,.2);
		@include responsive($tablet){
			height:100%;
		}
		&__item{
			background:#fff;
			position:absolute;
			transition:.5s all;
			opacity:0;
			transition:.3s all;
			height:100%;
			overflow-y:auto;
			z-index:1;
			@include responsive($tablet){
				height:100%;
			}
			
			.content{
				padding:.90em 3em 3em 3em;
				font-size:.90em;
				p{
					margin-top:20px;
					font-size:.95em;
					color:$colorLetra;
					line-height:25px;
				}
			}
			
			&.active-tab{
				z-index:5;
				opacity:1;
			}
			
			
		}
	}
	
}

